name: CI Retraining with MLflow Project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: ci-mlflow
          python-version: "3.12"
          channels: conda-forge
          channel-priority: strict

      - name: Check env
        shell: bash -l {0}
        run: |
          conda info
          python --version

      - name: Install dependencies (runner)
        shell: bash -l {0}
        run: |
          pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Debug structure
        shell: bash -l {0}
        run: |
          ls -la
          ls -la MLProject
          ls -la MLProject/german_credit_data_preprocessing

      - name: Run MLflow Project (retrain)
        shell: bash -l {0}
        run: |
          rm -rf outputs
          mkdir -p outputs

          mlflow run MLProject \
            -P data_dir=MLProject/german_credit_data_preprocessing \
            -P out_dir=outputs

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: outputs
