name: CI Retraining with MLflow Project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.12.7"
          activate-environment: ci
          auto-activate-base: false

      - name: Show conda info
        shell: bash -l {0}
        run: |
          conda --version
          conda info
          which python
          python --version

      - name: Install MLflow (runner)
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Run MLflow Project (retrain)
        shell: bash -l {0}
        env:
          MLFLOW_CONDA_HOME: /usr/share/miniconda
        run: |
          ls -la
          ls -la MLProject
          ls -la MLProject/german_credit_data_preprocessing
          mlflow run MLProject -P data_dir=MLProject/german_credit_data_preprocessing -P out_dir=outputs

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: outputs
