name: CI Retraining with MLflow Project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: ci-env
          python-version: "3.12.7"
          auto-activate-base: false

      - name: Check Env
        shell: bash -l {0}
        run: |
          python --version
          which python
          conda info

      - name: Install MLflow (runner)
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Debug structure
        shell: bash -l {0}
        run: |
          ls -la
          ls -la MLProject
          ls -la MLProject/german_credit_data_preprocessing

      - name: Run MLflow Project (retrain)
        shell: bash -l {0}
        run: |
          mkdir -p outputs
          mlflow run MLProject \
            -P data_dir=MLProject/german_credit_data_preprocessing \
            -P out_dir=outputs \
            --env-manager=conda

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: outputs

      # ===== DOCKER BUILD (ADVANCE) =====
      - name: Read RUN_ID
        id: runid
        shell: bash -l {0}
        run: |
          echo "RUN_ID=$(cat outputs/run_id.txt)" >> $GITHUB_OUTPUT
          echo "Run ID is: $(cat outputs/run_id.txt)"

      - name: Build Docker image from MLflow model
        shell: bash -l {0}
        run: |
          mlflow models build-docker \
            --model-uri "runs:/${{ steps.runid.outputs.RUN_ID }}/model" \
            --name "reinoufalramadhan/german-credit-mlflow-ci:latest" \
            --env-manager virtualenv

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        shell: bash -l {0}
        run: |
          docker push reinoufalramadhan/german-credit-mlflow-ci:latest
