name: CI Retraining with MLflow Project

on:
  push:
    paths:
      - "MLProject/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  train-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project (retrain)
        run: |
          mlflow run MLProject -P data_dir=german_credit_data_preprocessing -P out_dir=outputs

      - name: Upload training outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: outputs

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        env:
          IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/german-credit-ci
          GIT_SHA: ${{ github.sha }}
        run: |
          cat > Dockerfile << 'EOF'
          FROM python:3.10-slim
          WORKDIR /app
          COPY outputs/ /app/outputs/
          RUN pip install --no-cache-dir joblib numpy pandas scikit-learn
          CMD ["python","-c","import joblib; m=joblib.load('outputs/model.joblib'); print('Model loaded:', type(m))"]
          EOF

          docker build -t "$IMAGE_NAME:latest" .
          docker tag "$IMAGE_NAME:latest" "$IMAGE_NAME:$GIT_SHA"
          docker push "$IMAGE_NAME:latest"
          docker push "$IMAGE_NAME:$GIT_SHA"
