name: CI Retraining with MLflow Project + Docker

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: ci-env
          python-version: "3.12.7"

      - name: Install MLflow (runner)
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Debug structure
        shell: bash -l {0}
        run: |
          pwd
          ls -la
          ls -la MLProject
          ls -la MLProject/german_credit_data_preprocessing

      - name: Run MLflow Project (retrain) + capture RUN_ID
        shell: bash -l {0}
        run: |
          # Pastikan outputs ada di root workspace
          rm -rf outputs
          mkdir -p outputs

          # Jalankan mlflow run dan simpan log
          mlflow run MLProject \
            -P data_dir=MLProject/german_credit_data_preprocessing \
            -P out_dir=outputs \
            --env-manager=conda 2>&1 | tee mlflow_run.log

          # Ambil RUN_ID dari log (format: Run (ID 'xxxx') succeeded)
          RUN_ID=$(grep -oP "Run \(ID '\K[0-9a-f]{32}" mlflow_run.log | tail -n 1)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Detected RUN_ID: $RUN_ID"

          # Simpan juga ke file supaya gampang dicek
          echo "$RUN_ID" > outputs/run_id.txt

          # Verifikasi outputs ada isinya
          echo "Outputs dir content:"
          ls -la outputs

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: outputs

      - name: Build Docker image from MLflow model
        shell: bash -l {0}
        run: |
          echo "Using RUN_ID=$RUN_ID"
          test -n "$RUN_ID"

          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "reinoufalramadhan/german-credit-mlflow-ci:latest" \
            --env-manager virtualenv

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        shell: bash -l {0}
        run: |
          docker push reinoufalramadhan/german-credit-mlflow-ci:latest
