name: CI Retraining with MLflow Project

on:
  push:
    paths:
      - "MLProject/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  train-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ✅ Install Miniconda (tanpa python-version & activate env)
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          use-mamba: true

      - name: Install MLflow (runner)
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Debug structure
        shell: bash -l {0}
        run: |
          ls -la
          ls -la MLProject
          ls -la MLProject/german_credit_data_preprocessing

      # ✅ MLflow akan create & activate env dari conda.yaml sendiri
      - name: Run MLflow Project (retrain)
        shell: bash -l {0}
        run: |
          mlflow run ./MLProject \
            -P data_dir=./MLProject/german_credit_data_preprocessing \
            -P out_dir=./outputs

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: outputs
